* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}
a {
    color: inherit;
    text-decoration: none;
}
/* Footer -------------------------------------------------------> */
footer {
    background: #043873;
    padding: 140px 220px 32px 220px;
    color: #fff;
}
.footer-description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;

}
.info {
    display: flex;
    flex-direction: row;
    gap: 62px;
    margin-bottom: 67px;
    justify-content: space-between;
}
.info-logo-description {
    width: 25%;
}
.info-small-heading {
    color: #fff;
    font-size: 20px;
    font-style: bold;
    font-weight: 600;
}
.footer-links {
    font-size: 16px;
}
.info-resources ,
.info-company ,
.info-product {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-logo {
    margin-bottom: 15px;
}
.btm {
    margin-top: 32px;
    display: flex;
}
